* {
	margin: 0;
	padding: 0;
}
html {
	width: 100%;
	margin: auto;
	overflow-x: hidden;
}
body {
	font-family: "helvetica",sans-serif;
	font-weight: 100;
	font-size: 16px;
	width: 100%;
}
header ul {
	width: 50%;
	margin-left: 6%;
	float: left;
}
header ul li {
	margin-top: 13.6rem;
	width: 100%;
}
h1 {
	font-size: 4rem;
	font-weight: 100;
}
.title_app {
	margin-top: 3rem;
}
.accroche {
	margin-bottom: 3rem;
}
.app {
	margin-left: 16%;
}
.app img {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
ul {
	list-style: none;
}
h3 {
	font-size: 1.25rem;
	font-weight: 100;
}
a {
	color: rgba(18,132,255,1);
	text-decoration: none;
	
	transition: color ease .3s;
}
a:hover {
	color: #000;
	text-decoration: underline;
	
	transition: color ease .3s;
}
.colums {
	width: 100%;
	margin: auto;
	border-top: 1px solid #000;
	text-align: center;
}
.colums .questions td {
	padding-top: 1.5rem;
	width: 34%;
}
.colums .answers td {
	height: 10rem;
}
.left {
	border-right: 1px solid #000;
}
.right {
	border-left: 1px solid #000;
}
footer {
	width: 100%;
	font-style: italic;
	font-size: .8rem;
	height: 2rem;
	border-top: 1px solid #000;
	margin: 3rem 0 0;
	padding: 1rem 6% 0;
}
footer ul {
	display: inline-block;
}
.moitA {
	width: 62%;
}
.moitB {
	width: 24%;
}
.moitB li {
	display: inline-block;
}
/*.share {
	width: 14rem;
	height: 3rem;
}*/
.site {
	position: relative;
	top: -.35rem;
}
.decal {
	width: 4.5rem;
	height: 28px;
	position: relative;
	top: -.35rem;
	/*background: green;*/
}
#fb {
	position: relative;
	top: -.2rem;
	margin-left: .3rem;
}
/*li.icon {
	width: 29px;
	height: 30px;
	margin-right: .25rem;
}
.icon a {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/icons.png);
	background-position: -1px 0;
}
.icon a:hover {
	background-position: -1px -30px;
}
#fb {
	background-position: -30px 0;
}
#fb:hover {
	background-position: -30px -30px;
}*/